@use "variables" as v;
@use "mixins" as m;

#about {
  text-align: v.$mid;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 50px;
  @include m.md {
    font-size: 30px;
  }
  @include m.lg {
    font-size: 30px;
  }
}
#laget {
  @include m.md {
    @include m.laget;
  }
  @include m.lg {
    @include m.laget;
  }
  .card {
    @include m.sm {
      width: 100%;
    }
    @include m.md {
      width: 50%;
    }
    @include m.lg {
      width: 50%;
    }
    &__header {
      text-align: v.$mid;
      font-size: 25px;
      padding: 30px;
      @include m.md {
        @include m.header;
      }
      @include m.lg {
        @include m.header;
      }
    }
    &__container {
      text-align: v.$mid;
      padding-bottom: 20px;
      &__img {
        max-width: 300px;
        border-radius: 50%;
        box-shadow: 0 0 30px rgb(75, 75, 75);
      }
    }
    &__caption {
      @include m.caption {
        background-color: v.$grey2;
        width: 350px;
        height: 150px;
      }
      @include m.md {
        @include m.caption {
          background-color: v.$grey2;
          width: 550px;
          height: 125px;
        }
      }
      &__quote {
        transform: scale(-1, -1) translateY(-12px) translateX(-5px);
        height: 50px;
        width: 50px;
      }
    }
  }
}
#lasse {
  @include m.md {
    width: 350px;
  }
  @include m.lg {
    width: 350px;
  }
}
.icon2 {
  @include m.icon {
    transform: translateY(-10px);
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .arrow2 {
    @include m.arrow {
      filter: invert(100%);
    }
  }
}
