@use "variables" as v;
@use "mixins" as m;

#contact {
  @include m.contact {
    @include m.md {
      @include m.contact-other;
    }
    @include m.lg {
      @include m.contact-other;
    }
  }

  .company {
    @include m.contact-style {
      @include m.md {
        @include m.contact-desktop;
      }
      @include m.lg {
        @include m.contact-desktop;
      }
    }
  }
  .c-contact {
    @include m.contact-style {
      padding-top: 35px;
      @include m.md {
        @include m.contact-desktop;
      }
      @include m.lg {
        @include m.contact-desktop;
      }
    }
  }
  .social {
    padding-top: 35px;
    list-style: none;
    line-height: 50px;
    @include m.md {
      @include m.contact-desktop {
        transform: translateY(-15px);
      }
    }
    @include m.lg {
      @include m.contact-desktop {
        transform: translateY(-15px);
      }
    }
  }
  svg {
    width: 25px;
    height: 25px;
    transform: translateX(-15px);
    .facebook {
      filter: invert(100%);
    }
  }
}
