@use "variables" as v;
@use "mixins" as m;

html {
  scroll-behavior: smooth;
}

#home {
  @include m.background;
}

.top-nav {
  @include m.md {
    @include m.top-nav;
  }
  @include m.lg {
    @include m.top-nav;
  }
  ul {
    @include m.md {
      @include m.ul;
    }
    @include m.lg {
      @include m.ul;
    }
    li {
      @include m.md {
        @include m.list;
      }
      @include m.lg {
        @include m.list;
      }
      a {
        display: none;
        @include m.md {
          @include m.a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
        @include m.lg {
          @include m.a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.side {
  &__background {
    width: 100%;
    height: 80px;
    transform: translateY(-60px);
    background-color: v.$grey;
  }
  .hamburger {
    position: absolute;
    top: 5em;
    right: 7%;
    margin-left: -2em;
    margin-top: -65px;
    width: 2em;
    height: 45px;
    z-index: 5;
    div {
      position: relative;
      width: 3em;
      height: 7px;
      border-radius: 3px;
      background-color: v.$white;
      margin-top: 8px;
      transition: all 0.3s ease-in-out;
    }
  }
  .nav {
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: v.$grey;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    &__wrapper {
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      height: 100%;
      nav {
        text-align: v.$mid;
        margin-top: 70px;
        a {
          text-decoration: none;
          color: v.$white;
          position: relative;
          font-size: 1.5em;
          margin-top: 1.25em;
          transition: color 0.2s ease-in-out;
          letter-spacing: 1px;
          a:before {
            content: "";
            height: 0;
            position: absolute;
            width: 0.25em;
            background-color: v.$white;
            left: -0.5em;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }

  #toggle {
    display: none;
  }
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }
  @include m.md {
    display: none;
  }
  @include m.lg {
    display: none;
  }
}

.header {
  width: 100%;
  height: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: v.$mid;
  text-align: v.$mid;
  color: v.$white;
  padding-top: 300px;
  @include m.md {
    height: 60%;
  }
  @include m.lg {
    height: 60%;
  }
  &__nature {
    margin-left: 25px;
    margin-right: 25px;
    letter-spacing: 1px;
    font-size: 35px;
  }
  &__text1 {
    margin-left: 15px;
    margin-right: 15px;
    word-spacing: 5px;
    padding: 50px;
    @include m.text;
  }
  &__text2 {
    margin-left: 25px;
    margin-right: 25px;
    word-spacing: 5px;
    padding: 5px;
    @include m.text;
  }
}

.icon {
  @include m.icon {
    width: 100%;
  }
  .arrow {
    @include m.arrow {
      transform: translateY(75vh);
      display: flex;
      justify-content: v.$mid;
      align-items: v.$mid;
      margin: 0 auto;
    }
    @include m.md {
      transform: translateY(85vh);
      color: v.$white;
    }
    @include m.lg {
      transform: translateY(85vh);
      color: v.$white;
    }
  }
}
