@use "variables" as v;
@use "breakpoint" as m;

#home {
  min-height: 100vh;
  width: 100%;
  background: url(/src/img/negative-space-black-forest-dawn.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.side-menu {
  #toggle {
    display: none;
  }
  
  .hamburger {
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -65px;
    width: 2em;
    height: 45px;
    z-index: 5;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #ffffff42;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  nav {
    text-align: center;
    margin-top: 95px;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }
  
  
  @include m.md{
    display: none;
  }
  @include m.lg{
    display: none;
  }
  @include m.xl{
    display: none;
  }

}

.top-nav {
    @include m.md{
      width: 100%;
      height: 100px;
      background-color: rgba(235, 235, 235, 0.103);
    }
    @include m.lg{
      width: 100%;
      height: 100px;
      background-color: rgba(235, 235, 235, 0.103);
    }
    @include m.xl{
      width: 100%;
      height: 100px;
      background-color: rgba(235, 235, 235, 0.103);
    }
      ul {
        @include m.md{
          text-align: right;
          padding-right: 25px;
        }
        @include m.lg{
          text-align: right;
          padding-right: 25px;
        }
        @include m.xl{
          text-align: right;
          padding-right: 25px;
        }
 
              li {
                @include m.md{

                  list-style: none;
                  padding-top: 5px;
                  display: inline-block;
                }
                @include m.lg{
                  list-style: none;
                  padding-top: 5px;
                  display: inline-block;
                }
                @include m.xl{
                  list-style: none;
                  padding-top: 5px;
                  display: inline-block;
                }
                      a {
                        @include m.xs{
                          display: none;
                        }
                          @include m.sm{ 
                            display: none;
                          }
                        @include m.md{
                          display: block;
                          text-decoration: none;
                          color: white;
                          font-size: 30px;
                          padding: 25px;
                        }
                        @include m.lg{
                          display: block;
                          text-decoration: none;
                          color: white;
                          font-size: 30px;
                          padding: 25px;
                        }
                        @include m.xl{
                          display: block;
                          text-decoration: none;
                          color: white;
                          font-size: 30px;
                          padding: 25px;
                        }
                          
                      }
              }
      }
}

main {
    color: white;
    text-align: center;
    transform: translateY(50%);
    @include m.sm{
      transform: translateY(150%);
    }
    @include m.md{
      transform: translateY(150%);
    }
    @include m.lg{
      transform: translateY(150%);
    }
    @include m.xl{
      transform: translateY(150%);
    }

        .nature-header {
          letter-spacing: 1px;
          font-size: 2.5em;
        }
        .text1 {
            padding: 50px;
            font-weight: lighter;
            font-size: 30px;
        }
        .text2 {
            padding: 5px;
            font-weight: lighter;
            font-size: 30px;
        }
}   

.icon {
  text-align: center;
  color: white;
  .arrow {
      color: white;
      width: 30px;
      height: 30px;
      transform: translateY(45vh);
      @include m.sm{
        transform: translateY(65vh);
      }
      @include m.md{
        transform: translateY(65vh);
      }
      @include m.lg{
        transform: translateY(65vh);
      }
      @include m.xl{
        transform: translateY(65vh);
      }
  }
}

