//*Breakpoints*\\

$breakpoints: (
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
);

//*COLORS*\\

$white: #ffffff;
$black: black;
$grey: #ffffff42;
$tran: rgba(255, 255, 255, 0.144);
$grey2: rgba(219, 219, 219, 0.877);
$mid: center;
